.option {
    position: relative;
    display: inline-block;
    font-size: 12px;
}

    .option .option-value {
        position: relative;
        padding: 7px 25px 7px 2px;
        text-align: center;
        color: #666;
        border: none;
        background-color: transparent;
        cursor:pointer
    }

        .option .option-value.modified {
            font-weight:900;
            color: #000;
        }

        .option .option-value .caret {
            border-top: 4px solid #666;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: none;
            position: relative;
            top: 9.5px;
            left: 5px;
        }

    .option .option-list {
        width: 150px;
        background-color: #fdfdfd;
        border: 1px solid #bbb;
        position: absolute;
        z-index: 1;
        display: none;
        box-shadow: 0 0 2px #bbb;
        padding: 10px 0;
    }


        .option .option-list .option-list-item {
            display: block;
            padding: 7px 7px 7px 7px;
            color: #666;
        }

            .option .option-list .option-list-item:hover {
                font-weight: bold;
                background-color: #eff4fb;
            }

            .option .option-list .option-list-item.current {
                background-color: #eff4fb;
            }


    .option.expand .option-value .caret {
        border-top: none;
        border-bottom: 4px solid #666;
        top: -9.5px;
    }

    .option.expand .option-list {
        display: block;
    }

