body {
    font-size: 14px;
    margin: 0;
}

body, div, input {
    font-family:"Helvetica Neue",Helvetica,arial,sans-serif,"PingFang SC","Microsoft Yahei";
}

a {
    text-decoration: none;
}

input {
    padding: 0;
    margin: 0;
}

footer {
    margin-top: 50px;
    text-align: center;
}

    footer a {
        color: #266695;
    }
